#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fdf5e6; /* White-cream background */
  color: darkblue; /* Dark blue text */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fdf5e6; /* Match the white-cream background */
  color: #003366; /* Dark blue text */
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* Add spacing between the logo and the title */
}

.logo {
  height: 3em;
  padding: 0.75em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  color: darkblue; /* Dark blue text for the header */
  margin-bottom: 1rem;
}

.create-task-button {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #28a745; /* Green color */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-task-button:hover {
  background-color: #218838; /* Darker green on hover */
}